*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    font-family: 'Baloo 2', cursive;
    font-size: 16px;
	line-height: 2;
	background-color: #222;
	color: #fefefe;
	/* overflow: hidden; */
}
.logo{
	/* position: absolute;
	top: 10px;
    left: 10px; */
    display: flex;
    justify-content: space-between;
}
.b-icon{
    padding-left: 20px;
    padding-top: 10px;
}
.menu{
    padding-right: 20px;
    padding-top: 20px;
    cursor: pointer;
    font-weight: 700;
}
.about-page{
    /* position: absolute; */
    /* top: 400px; */
    /* left: 20px; */
    padding: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.writeup{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.writeup form{
    background-image: linear-gradient(
		to right bottom,
		rgba(75, 81, 87, 0.527), 
        rgba(71, 75, 76, 0.514));
        padding: 30px;
}
.writeup h2{
    text-align: left;
}
input, input:focus, input:active{
    background: none;
    border: none;
    border-bottom: 2px solid #222;
    outline: none;
    width: 100%;
    color: #fefefe;
    font-size: 18px;
    padding: 4px 0px;
}
.emotion img{
    /* width: 100%; */
    /* background-position: center; */
}
.ig-card,.twt-card,.git-card{
    background-image: linear-gradient(
		to right bottom,
		rgba(75, 81, 87, 0.527), 
        rgba(71, 75, 76, 0.514));
        width: 300px;
    padding: 5% 10%;
    margin: 10px;
	text-align: center;
	transition: all .2s ease-in;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-decoration: none;
    color: #fefefe;
}
.card{
    background-image: linear-gradient(
		to right bottom,
		rgba(75, 81, 87, 0.527), 
        rgba(71, 75, 76, 0.514));
        width: 300px;
	padding: 5% 10%;
	text-align: center;
	transition: all .2s ease-in;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.category{
	/* position: absolute; */
	/* top: 50%; */
	/* left: 2%; */
	display: none;
	flex-wrap: wrap;
	justify-content: center;
}
.handles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#menu{
    font-size: 14px;
}
.card:link, .card:visited{
	margin: 5px;
	min-height: 250px;
	background-image: linear-gradient(
		to right bottom,
		rgba(111, 118, 124, 0.164), 
		rgba(41, 53, 61, 0.096));	
	width: 30%;
	padding: 5% 10%;
	text-align: center;
	transition: all .2s ease-in;
	cursor: pointer;
	color: #fefefe;
	text-decoration: none;
}
.card:hover{
	transform: scale(1.05);
	background-image: linear-gradient(
		to right bottom,
		rgba(75, 81, 87, 0.527), 
		rgba(71, 75, 76, 0.514));
}
.ig-card{
    background-image: linear-gradient(
		to top left,
		rgba(64, 93, 230, 0.527), 
		rgba(102, 27, 121, 0.514));    
}
.twt-card{
    background-image: linear-gradient(
		to right bottom,
		rgba(8, 160, 233, 0.527), 
		rgba(232, 245, 253, 0.514));
}
.git-card{
    background-image: linear-gradient(
		to right bottom,
		rgba(75, 81, 87, 0.527), 
		rgba(71, 75, 76, 0.514));
}
.card img{
	width: 100%;
}
.grow{
    transition: all .2s ease-in;
}

.grow:hover{
    transform: scale(1.05);
}